<%- include('./static/navbar') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="myprofile.css">
</head>
<body>
    <header>

        <div class="container">
    
            <div class="profile">
    
                <div class="profile-image">
    
                    <img src="https://images.unsplash.com/photo-1513721032312-6a18a42c8763?w=152&h=152&fit=crop&crop=faces" alt="">
    
                </div>
    
                <div class="profile-user-settings">
    
                    <h1 class="profile-user-name">akhila.priya_</h1>
    
                    <button class="btn profile-edit-btn">Edit Profile</button>
    
                    <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>
    
                </div>
    
                <div class="profile-stats">
    
                    <ul>
                        <li><span class="profile-stat-count">164</span> posts</li>
                        <li><span class="profile-stat-count">188</span> followers</li>
                        <li><span class="profile-stat-count">206</span> following</li>
                    </ul>
    
                </div>
    
                <div class="profile-bio">
    
                    <p><div class="profile-real-name">Akhila Priya </div> Lorem ipsum dolor sit, amet consectetur adipisicing elit 📷✈️🏕️</p>
    
                </div>
    
            </div>
    
        </div>
    
    </header>
    
    <main>
        
     
    
        <div class="container">
            
            <div class="gallery">
                <% mypost.forEach(function(p){ %>
                <div class="gallery-item" tabindex="0">
    
                    <img src="<%= p.photo %>" class="gallery-image" alt="">
    
                    <div class="gallery-item-info">
    
                        <ul>
                            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 56</li>
                            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 2</li>
                        </ul>
    
                    </div>
    
                </div>
                <% }); %>
            </div>
           
            </div>
            
    
            <div class="loader"></div>
    
            </div>
      
    
    </main> 
</body>
</html>